.root {
	warn: #aaaa00;
	error: orangered;
	default: #eee;
}

.default {
	-fx-background-color: default;
	-fx-background-insets: 0;
	-fx-background-radius: 0;
}

.warn {
	-fx-background-color: warn;
	-fx-background-insets: 0;
	-fx-background-radius: 0;
}

.error {
	-fx-background-color: error;
	-fx-background-insets: 0;
	-fx-background-radius: 0;
}

.table-row-cell:selected{
    -fx-effect: dropshadow( gaussian, black, 10, .2, 4, 4);
    -fx-background-color: transparent;
}

.default:hover, .table-row-cell:selected .default {
	-fx-background-radius: 10;
	-fx-text-fill: black;
}

.warn:hover, .table-row-cell:selected .warn{
	-fx-background-radius: 10;
	-fx-text-fill:black;
}

.error:hover, .table-row-cell:selected .error {
	-fx-background-radius: 10;
	-fx-text-fill: black;
}

.button {
    -fx-background-color: lightgrey;
}